In [1]:
import pandas as pd

dataset = pd.read_csv('BondYield.csv',index_col=0)
dataset

           time  value
1   1990.000000   8.99
2   1990.083333   9.72
3   1990.166667   9.37
4   1990.250000   9.46
5   1990.333333   9.47
6   1990.416667   9.26
7   1990.500000   9.24
8   1990.583333   9.41
9   1990.666667   9.56
10  1990.750000   9.53
11  1990.833333   9.30
12  1990.916667   9.05
13  1991.000000   9.04
14  1991.083333   8.83
15  1991.166667   8.93
16  1991.250000   8.86
17  1991.333333   8.86
18  1991.416667   9.01
19  1991.500000   9.00
20  1991.583333   8.75
21  1991.666667   8.61
22  1991.750000   8.55
23  1991.833333   8.48
24  1991.916667   8.31
25  1992.000000   8.20
26  1992.083333   8.29
27  1992.166667   8.35
28  1992.250000   8.33
29  1992.333333   8.28
30  1992.416667   8.22
31  1992.500000   8.07
32  1992.583333   7.95
33  1992.666667   7.92
34  1992.750000   7.99
35  1992.833333   8.10
36  1992.916667   7.98
37  1993.000000   7.91
38  1993.083333   7.71
39  1993.166667   7.58
40  1993.250000   7.46
41  1993.333333   7.43
42  1993.416667   7.33
43  1993.500000   7.17
44  1993.583333   6.85
45  1993.666667   6.66
46  1993.750000   6.67
47  1993.833333   6.93
48  1993.916667   6.93
49  1994.000000   6.92
50  1994.083333   7.08
51  1994.166667   7.48
52  1994.250000   7.88
53  1994.333333   7.99
54  1994.416667   7.97
55  1994.500000   8.11
56  1994.583333   8.07
57  1994.666667   8.34
58  1994.750000   8.57
59  1994.833333   8.68
60  1994.916667   8.46

In [2]:
assert dataset.shape[0] == 60   # 60 osservazioni
assert dataset.shape[1] >= 2   # almeno 2 colonne
assert dataset.shape[1] == 2   # esattamente 2 colonne se la prima è usata come indice di riga

In [3]:
def date_fromFractional(frac_date):
    #print(frac_date)
    year = int(frac_date)
    month = int(((frac_date-year)*365)/30)+1
    
    return (month,year)

In [4]:
date_fromFractional(1995.5)

(7, 1995)

In [5]:
assert date_fromFractional(1989.0) == (1, 1989)   # mese di gennaio corretto
assert date_fromFractional(1990.5) == (7, 1990)   # mese di luglio corretto
assert date_fromFractional(dataset.time.iat[1]) == (2, 1990) # febbraio 1990 come nel dataset
assert all(date_fromFractional(1990+i/12) == (i+1, 1990) for i in range(12)) # tutti i mesi alla precisione di macchina

In [6]:
m = []
y = []
for i in dataset.time:
    data = date_fromFractional(i)
    m.append(data[0])
    y.append(data[1])
dataset.pop('time')
dataset['month']= m
dataset['year'] = y
dataset

    value  month  year
1    8.99      1  1990
2    9.72      2  1990
3    9.37      3  1990
4    9.46      4  1990
5    9.47      5  1990
6    9.26      6  1990
7    9.24      7  1990
8    9.41      8  1990
9    9.56      9  1990
10   9.53     10  1990
11   9.30     11  1990
12   9.05     12  1990
13   9.04      1  1991
14   8.83      2  1991
15   8.93      3  1991
16   8.86      4  1991
17   8.86      5  1991
18   9.01      6  1991
19   9.00      7  1991
20   8.75      8  1991
21   8.61      9  1991
22   8.55     10  1991
23   8.48     11  1991
24   8.31     12  1991
25   8.20      1  1992
26   8.29      2  1992
27   8.35      3  1992
28   8.33      4  1992
29   8.28      5  1992
30   8.22      6  1992
31   8.07      7  1992
32   7.95      8  1992
33   7.92      9  1992
34   7.99     10  1992
35   8.10     11  1992
36   7.98     12  1992
37   7.91      1  1993
38   7.71      2  1993
39   7.58      3  1993
40   7.46      4  1993
41   7.43      5  1993
42   7.33      6  1993
43   7.17      7  1993
44   6.85      8  1993
45   6.66      9  1993
46   6.67     10  1993
47   6.93     11  1993
48   6.93     12  1993
49   6.92      1  1994
50   7.08      2  1994
51   7.48      3  1994
52   7.88      4  1994
53   7.99      5  1994
54   7.97      6  1994
55   8.11      7  1994
56   8.07      8  1994
57   8.34      9  1994
58   8.57     10  1994
59   8.68     11  1994
60   8.46     12  1994

In [7]:
time = 'time'
assert not dataset.month.empty   # è presente la colonna month
assert not dataset.year.empty    # è presente la colonna year
assert (dataset.month.iat[0], dataset.year.iat[0]) == (1, 1990) # le nuove colonne hanno valori corretti
assert time not in dataset.columns # la colonna `time` è stata rimossa
assert 0 not in dataset.index  # l'indice 0 non è presente nel dataset.

In [8]:
unici = dataset.year.unique()
unici

for i in unici:
    print(min(dataset[dataset.year==i].value))

8.99
8.31
7.92
6.66
6.92

In [9]:
yearly_stats = {int(i) : {'min':min(dataset[dataset.year==i].value),'max':max(dataset[dataset.year==i].value)} for i in unici }

In [10]:
yearly_stats

{1990: {'min': 8.99, 'max': 9.72},
 1991: {'min': 8.31, 'max': 9.04},
 1992: {'min': 7.92, 'max': 8.35},
 1993: {'min': 6.66, 'max': 7.91},
 1994: {'min': 6.92, 'max': 8.68}}

In [11]:
assert all(y in yearly_stats for y in range(1990, 1994+1))  # tutti gli anni nel dizionario
assert all(all(k in yearly_stats[y] for k in ['min','max']) for y in yearly_stats) # struttura corretta del dizionario
assert all(yearly_stats[y]['min'] <= yearly_stats[y]['max'] for y in yearly_stats) # contenuto valido
assert all(type(y) == int for y in yearly_stats)   # (Non valutato) Attenzione al tipo della chiave del dizionario

In [12]:
import json

with open('fileMio.json','w') as f:
    json.dump(yearly_stats ,f)

In [13]:
with open('yearly_stats.json', 'r') as jsonfile:
    test_dict = json.load(jsonfile)

In [14]:
test_dict

{'1990': {'min': 8.99, 'max': 9.72},
 '1991': {'min': 8.31, 'max': 9.04},
 '1992': {'min': 7.92, 'max': 8.35},
 '1993': {'min': 6.66, 'max': 7.91},
 '1994': {'min': 6.92, 'max': 8.68}}

In [15]:
yields = list(dataset.value)
yields_diff = ['+' if (yields[i+1]-yields[i])>0 else '-' for i in range(0,len(yields)-1)]
#yields_diff = ['+' if yields[i] - yields[i - 1] > 0 else '-' for i in range(1 , len(yields))]

yields_diff

['+',
 '-',
 '+',
 '+',
 '-',
 '-',
 '+',
 '+',
 '-',
 '-',
 '-',
 '-',
 '-',
 '+',
 '-',
 '-',
 '+',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '+',
 '+',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '+',
 '+',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '+',
 '+',
 '-',
 '-',
 '+',
 '+',
 '+',
 '+',
 '-',
 '+',
 '-',
 '+',
 '+',
 '+',
 '-']

In [16]:
assert yields_diff[0:10] == ['+', '-', '+', '+', '-', '-', '+', '+', '-', '-'] # Contenuto corretto
assert len(yields_diff) == len(yields)-1 # Lunghezza corretta

In [19]:
yields_diff_str = ''.join(str(i) for i in yields_diff)
yields_diff_str

'+-++--++-----+--+-------++------++----------++--++++-+-+++-'

In [20]:
assert all(c in yields_diff_str for c in '+-') and type(yields_diff_str) == str # yields_diff_str è una stringa corretta

In [26]:
import re
subs = re.findall(r'\+{3,}',yields_diff_str)
subs += re.findall(r'\-{3,}',yields_diff_str)
subs

['++++', '+++', '-----', '-------', '------', '----------']

In [27]:
assert all(len(s)>=3 for s in subs)   # Tutte le sottostringhe hanno almeno tre caratteri
assert all(len(set(s)) == 1 for s in subs) # Ogni sottostringa ha lo stesso carattere replicato più volte.